* {
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0 auto;
}

body {
  width: 100vw;
  background-color: #4f6367;
  font-size: 1.2em;
}

.container {
  border: 1px solid black;
  border-radius: 1em;
  background-color: #b8d8d8;
  width: 80%;
}

.container form {
  padding: 2em;
  width: 100%;
  text-align: center;
}

.container form input {
  border-radius: 1em;
  padding: 1em 10em 1em 1em;
  width: 82%;
  text-align: left;
}

.container form button {
  border-radius: 1em;
  padding: 1em 2em 1em 2em;
  width: 15%;
  font-weight: bold;
}

.container div.tasks {
  width: 88%;
  margin: 0 auto 1em auto;
}

.container .tasks div {
  background-color: #eef5db;
  padding: 1em;
  border-radius: 1em;
  border: 1px solid black;
  margin: 1em 0;
}

span.task-title,
button.deleteBtn {
  display: inline-block;
}

span.task-title {
  width: 90%;
}

button.deleteBtn {
  height: 2em;
  width: 5em;
  background-color: red;
  text-decoration: line-through;
}

