* {
  box-sizing: border-box;
}

body {
  background-image: url(images/1331117.png);
  background-size: cover;
  font-family: "Montserrat", sans-serif;
  font-family: "Open Sans", sans-serif;
  font-family: "Space Grotesk", sans-serif;
  color: white;
  font-size: 2em;
}

.container {
  text-align: center;
  width: 100%;
}

.container .content {
  width: 70%;
  margin: 0 auto;
  padding: 2em 2em 0 2em;
}

.container .content form input {
  width: 80%;
}
.container .content form input,
.container .content form button {
  padding: 2em;
}

.container ul {
  list-style: none;
  width: 90%;
  margin: 1em auto;
}

.container ul li {
  text-align: left;
}

.container ul li span {
  width: 80%;
  display: inline-block;
  padding: 0.5em 4em 0.5em 0.5em;
}

.container ul li button {
  width: 10%;
  font-size: 0.8em;
  background-color: red;
  color: white;
}

.completed {
  color: red;
  text-decoration: line-through;
}
