$padding-inline-sm: 1em;
$padding-inline-normal: 2em;
$padding-inline-md: 2.5em;
$padding-inline-lg: 3em;
$padding-inline-xl: 3.5em;
$padding-inline-xxl: 7em;

$padding-block-sm: 1em;
$padding-block-normal: 1.5em;
$padding-block-md: 2em;
$padding-block-lg: 2.5em;
$padding-block-xl: 3em;
$padding-block-xxl: 3.5em;

$margin-inline-sm: 1em;
$margin-inline-normal: 2em;
$margin-inline-md: 2.5em;
$margin-inline-lg: 3em;
$margin-inline-xl: 3.5em;
$margin-inline-xxl: 7em;

$margin-block-sm: 1em;
$margin-block-normal: 1.5em;
$margin-block-md: 2em;
$margin-block-lg: 2.5em;
$margin-block-xl: 3em;
$margin-block-xxl: 3.5em;